<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Celke </title>
   
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/dist/css/skins/skin-blue.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
   

                 {{{body}}}






  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <!-- <div class="pull-right ">
      <a target="_blank" href="http://freeline.inf.br/">Freeline Informática</a>
    </div> -->
   
    <div class="pull-center ">
   <p>Projeto desenvolvido com ❤️ e mantido por <a target="_blank" href="http://freeline.inf.br/">Freeline Informática</a></p>
  </div>
  </footer>

</div>

<script src="index.js"></script>
    
</body>
</html>